.wrapper {
    background-color: rgb(255, 255, 255) !important;
    background-image: url(../images/bg-desktop-light.jpg) !important;
}

.header { 
    background-color: #ffffff !important;
}

.theme-btn {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26'%3E%3Cpath fill='%23FFF' fill-rule='evenodd' d='M13 0c.81 0 1.603.074 2.373.216C10.593 1.199 7 5.43 7 10.5 7 16.299 11.701 21 17.5 21c2.996 0 5.7-1.255 7.613-3.268C23.22 22.572 18.51 26 13 26 5.82 26 0 20.18 0 13S5.82 0 13 0z'/%3E%3C/svg%3E") !important;
}

.task-new {   
    background-color: #ffffff !important;
    color: #3b3944 !important;
}

.check {
    border: 1px solid #e3e3e5 !important;
}

.task-new::placeholder {
    color: #929197 !important;
}

.info {
    color: #86868e !important;
}

.body {
    background-color: rgb(255, 255, 255) !important; 
}

.list-item {
    border-bottom: 1px solid #e6e5ea !important;
}

.list-remove {
    fill: #5e5d6b !important;
}

.list-item {
    color: #474463 !important;
}

.custom-checkbox {
    border: 1px solid #e6e5ea !important;
}

.drag-n-drop {
    color: #929199 !important;
}

@media only screen and (max-width: 600px) {
    .wrapper {
        background-image: url(../images/bg-mobile-light.jpg) !important;
    }

    .basement {
        color: #86868e !important; 
        background-color: #ffffff !important;
    }
}